/* GENERAL STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

html, body {
    width: 100vw;
    height: auto;
}

body {
    display: flex;
    font-family: 'Kumbh Sans', sans-serif;
    overflow-x: hidden;
    position: relative;
}

h1 {
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    color: #1D2026;
    padding-bottom: 0.9rem;
}

p {
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #69707D;
}

/* CONTAINER STYLES */

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
}

/* HEADER AREA STYLES */

header {
    width: 100%;
    height: 100%;
    display: flex;
}

/* HEADER - NAV AREA STYLES */

nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .3s ease-in-out;
}

nav ul {
    display: flex;
}

@media screen and (max-width: 1080px) {

    header {
        flex-wrap: wrap;

    }

    nav {
        padding: 1.2rem 1.5rem 1.6rem 1.5rem;
        gap: 5.5rem;
    }

    figure {
        display: flex;
        align-items: center;
    }

    .logo {
        padding-left: 1rem;
        transition: all .3s ease-in-out;
    }


    .container-menu-mobile {
        width: 70%;
        min-height: 100%;
        background-color: #FFFFFF;
        padding-left: 1.5rem;
        position: absolute;
        align-items: unset;
        z-index: 1;
        display: none;
    }

    .menu-mobile {
        padding-top: 5.75rem;
    }

    .menu-mobile li {
        font-family: 'Kumbh Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        color: #1D2026;
        padding-bottom: 1.25rem;
    }
}

@media screen and (min-width: 1080px) {


    nav {
        margin: 0 10rem 0 10rem;
        border-bottom: #E4E9F2 solid;
    }

    nav ul {
        align-items: center;
    }

    nav ul li {
        width: 100%;
        height: 100%;
        font-family: 'Kumbh Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 26px;
        display: inline;
    }

    .container-nav-primary ul {
        display: flex;
        gap: 2.25rem;
    }

    .container-nav-primary ul li {
        padding: 2.5rem 0;
    }

    .container-menu-mobile {
        display: none;
    }

    .icon-close {
        display: none;
    }
}

/* HEADER - NAV - MENU AREA STYLES */

@media screen and (max-width: 1080px) {

    .container-nav-primary {
        gap: 1rem;
    }

    .container-icons-mobile {
        display: flex;
        justify-content: center;
        z-index: 2;
    }

    .icon-burger {
        width: 16px;
        height: 15px;
        z-index: 99999;
    }

    .icon-close {
        width: 16px;
        height: 15px;
        z-index: 99999;
        display: none;
    }

    .menu-desktop {
        display: none;
    }
}

@media screen and (min-width: 1080px) {

     .icon-burger {
         display: none;
     }


    .container-nav-primary li {
        color: #69707D;
        border-bottom: transparent solid 4px;
        padding: 2.5rem 0;
        transition: all .3s ease-in-out;
    }

    .container-nav-primary li:hover {
        border-bottom: #FF7E1B solid 4px;
        padding: 2.5rem 0;
        transition: all .3s ease-in-out;
    }

    .container-nav-primary {
        width: 100%;
        height: 100%;
        display: flex;
        gap: 3.5rem;
        align-items: center;
    }
}

/* HEADER - NAV - CART & PROFILE AREA STYLES */

.container-nav-secondary {
    display: flex;
}

@media screen and (max-width: 1080px) {

    .container-nav-secondary ul {
        gap: 1.3rem;
    }

    .profile-picture {
        width: 24px;
        height: 24px;
        border-radius: 25px;
        border: transparent solid 2px;
        transition: all .3s ease-in-out;
    }
}

@media screen and (min-width: 1080px) {

    .container-nav-secondary {
    align-items: center;
    }

    .container-nav-secondary ul {
        gap: 2.9rem;
    }

    .icon-cart:hover {
    filter: invert(57%) sepia(57%) saturate(1817%) contrast(108%);
    transition: all .3s ease-in-out;
    }

    .profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: transparent solid 2px;
    transition: all .3s ease-in-out;
    }

    .profile-picture:hover {
    border: #FF7E1B solid 2px;
    transition: all .3s ease-in-out;
    }
}

/* HEADER - CART */

.container-cart {
    width: 22.5rem;
    height: 16rem;
    background: #FFFFFF;
    box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.503143);
    border-radius: 10px;
    position: absolute;
    display: none;
    flex-flow: column;
}

.cart-label {
    padding: 1.5rem;
    border-bottom: #E4E9F2 solid 1px;
}

.cart-label p {
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #1D2026;
}

.cart-list-empty {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart-list-filled {
    display: none;
    padding: 1.5rem;
}

.cart-list-filled img {
    width: 50px;
    height: 50px;
    border-radius: 4px;
}

.cart-list-description {
    display: flex;
}

.cart-list-text {
    padding-left: 1rem;
}

.cart-list-CTA {
    display: none;
    justify-content: center
}

.cart-list-CTA button {
    padding: 1rem 35%;
}

@media screen and (min-width: 1080px) {
    .container-cart {
        right: 2%;
        top: 10%;
    }
}
@media screen and (max-width: 1080px) {

    .container-cart {
        width: 90%;
        top: 9%;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .cart-list-CTA {
        padding: 0 1.5rem;
    }
}


/* PRODUCT AREA STYLES */

.container-product {
    display: flex;
}

.container-product-images {
    display: flex;
}

@media screen and (max-width: 1080px) {
    .container-product {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 1080px) {
    .container-product {
        padding: 5.6rem 10% 8.2rem 10%;

    }
}

/* PRODUCT - PRODUCT IMAGE AREA STYLES */

@media screen and (max-width: 1080px) {

    .product-image {
        width: 23.4rem;
        height: 18.75rem;
        position: relative;
    }

    .container-buttons {
        width: 23.4rem;
        height: 18.75rem;
        position: absolute;
        display: flex;
        justify-content: space-between;
    }

    .container-previous-button {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: static;
    }

    .container-previous-button-bcg {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background-color: #FFFFFF;
        border-radius: 20px;
        margin-left: 1rem;
    }

    .previous-button, .next-button {
        width: 10px;
        height: 15px;

    }

      .container-next-button {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .container-next-button-bcg {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background-color: #FFFFFF;
        border-radius: 20px;
        margin-right: 1rem;
    }

    .container-product-images-secondary {
        display: none;
    }

}

@media screen and (min-width: 1080px) {

    .container-product-images {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .product-image {
        width: 445px;
        height: 445px;
        border-radius: 0.9rem;
    }

    .container-product-images-secondary {
        display: flex;
        justify-content: space-between;
    }

    .product-images-secondary {
        box-sizing: border-box;
        border-radius: 10px;
        display: flex;
    }

    .thumbnail:hover {
        filter: opacity(30%);
    }

    .image-active {
        border: 2px solid #FF7E1B;
    }


    .container-product-images-secondary img {
        width: 88px;
        height: 88px;
        overflow: hidden;
        border-radius: 7px;
    }

    .container-buttons {
        display: none;
    }

    .container-product-images-secondary-1 {
        border: 2px solid #FF7E1B;
        border-radius: 10px;
        height: 100%;
    }

    .selected {
        filter: opacity(30%);
    }

    .container-image-focus {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .image-focus-product-image {
        width: 550px;
        height: 550px;
        border-radius: 0.9rem;
    }

    .image-focus-container-buttons {
        display: flex;
        justify-content: space-between;
        position: absolute;
    }

    .image-focus-container-previous-button {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: static;
    }

    .image-focus-container-next-button {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: static;
    }
}

/* PRODUCT - PRODUCT IMAGE - PRODUCT IMAGE MAIN AREA STYLES */

/* PRODUCT - PRODUCT IMAGE - PRODUCT IMAGE SECONDARY AREA STYLES */

/* PRODUCT - PRODUCT DESCRIPTION AREA STYLES */

.container-product-description {
    display: flex;
    width: 100%;
    height: 100%;
}

.subtitle {
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1.84615px;
    text-transform: uppercase;
    color: #FF7E1B;
    padding-bottom: 1.2rem;
}

@media screen and (max-width: 1080px) {

    .container-product-description {
        padding: 1.5rem 5% 5.5rem 5%;
        align-items: center;
    }

    .description {
        padding-bottom: 1.75rem;
    }
}

@media screen and (min-width: 1080px) {
    .container-product-description {
        width: 52%;
        padding: 3.8rem 0 0 7.8rem;
    }
}

/* PRODUCT - PRODUCT DESCRIPTION - DESCRIPTION AREA STYLES */

/* PRODUCT - PRODUCT DESCRIPTION - QUANTITY SELECTOR & ADD TO CART AREA */

.quantity, button {
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
}

.container-price {
    display: flex;
}

.container-price-primary {
     display: flex;
}

.current-price {
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    color: #1D2026;
}

.discount {
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FF7E1B;
    padding: 0.4rem 0.5rem;
    background: #FFEEE2;
    border-radius: 6px;
}

.previous-price {
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    text-decoration-line: line-through;
    color: #B6BCC8;
}

.container-quantity-selector-add-to-cart {
    display: flex;
}

.container-quantity-selector {
        background: #F6F8FD;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.icon-minus:hover path {
        fill: #FFAB6A;
}

.icon-plus:hover path  {
    fill: #FFAB6A;
}

.add-to-cart-cta {
        background: #FF7E1B;
        box-shadow: 0px 20px 50px -20px #FF7E1B;
        border: none;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap : 1rem
}

.add-to-cart-cta:hover {
    background: #FFAB6A;
    box-shadow: 0px 20px 50px -20px #FF7E1B;
    border-radius: 10px;
}

.add-to-cart-cta path {
    fill: #FFFFFF;
}

.add-to-cart-cta p {
        font-family: 'Kumbh Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
}



@media screen and (max-width: 1080px) {

    .container-price {
        justify-content: space-between;
        align-items: center;
        padding-bottom: 1.6rem;
    }

    .container-price-primary {
        gap: 1rem;
        align-items: center;
    }

    .container-quantity-selector-add-to-cart {
        flex-direction: column;
        align-items: center;
    }

    .container-quantity-selector {
        width: 100%;
        height: 3.3rem;
        padding: 1.5rem;
        margin-bottom: 1rem;
    }

    .add-to-cart-cta {
        width: 100%;
        height: 3.6rem;
    }

}

@media screen and (min-width: 1080px) {
    .container-price {
        flex-direction: column;
        gap: 0.6rem;
        padding: 1.75rem 0 2rem 0;
    }
    .container-price-primary {
        gap: 1.5rem;
    }

    .container-quantity-selector-add-to-cart {
        gap: 1rem;
    }

    .container-quantity-selector {
        width: 9.8rem;
        height: 3.5rem;
        padding: 1rem 1.6rem;
    }

    .add-to-cart-cta {
        padding: 1rem 4.8rem;
    }

}

/* Display rules */

.on {
    display: flex;
}













